.coffee-filter, .espresso-tamper, .loose-tea, .tea-strainer, .teapot, .coffee-grounds, .coffee-maker, .espresso-beans, .espresso-machine{
  background: url(/assets/img/sprites-bar.png) no-repeat;
}

.coffee-filter{
  background-position: -93px -86px ;
  width: 64px;
  height: 64px;
}

.espresso-tamper{
  background-position: -96px -9px ;
  width: 64px;
  height: 64px;
}

.loose-tea{
  background-position: -175px -170px ;
  width: 64px;
  height: 64px;
}

.tea-strainer{
  background-position: -90px -165px ;
  width: 64px;
  height: 64px;
}

.teapot{
  background-position: -13px -166px ;
  width: 64px;
  height: 64px;
}

.coffee-grounds{
  background-position: -178px -85px ;
  width: 64px;
  height: 64px;
}

.coffee-maker{
  background-position: -12px -87px ;
  width: 64px;
  height: 64px;
}

.espresso-beans{
  background-position: -171px -10px ;
  width: 64px;
  height: 64px;
}

.espresso-machine{
  background-position: -10px -7px ;
  width: 64px;
  height: 64px;
}
