@import 'sandbox-fonts';
@import 'sandbox-colors';
@import 'sandbox-mixins';
@import 'widgets/slot-machine';
@import 'widgets/slot-machine-icons';

body {
  background-color: $body-background-main;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  line-height: 1.5em;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  color: $body-font-color;
  font-weight: normal;
  overflow: scroll;
}

.content {
  background-color: $cream;
  box-sizing: border-box;
  border: 1px solid $gray-dark;
  box-shadow: 0 2px 4px $shadow-gray-dark;
  margin: 50px auto;
  width: 600px;
  padding: 15px;
  position: relative;
  text-align: center;
  -webkit-perspective: 0;
  perspective: 0;
}

.content-bar {
  height: 520px;
}

.about-text {
  text-align: left;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.25;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.title,
.subtitle {
  display: inline-block;
  font-family: 'Wire One', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 5em;
  margin-bottom: 15px;
  line-height: 1em;
  margin-top: 20px;
}

.subtitle {
  line-height: .9em;
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 6px;
}

.title {
  padding: 4px 15px;
  box-shadow: 0 2px 7px $shadow-gray-dark inset, 0 0 1px $shadow-gray-light inset;
}

.animate-view {
  @include transition(all, .5s, ease-out);
}

.main-view.ng-enter {
  .animate-view {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

.main-view.ng-enter-active{
  .animate-view {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.main-view.ng-leave {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
