//COLORS:

$cream: rgba(233, 233, 206, 1);
$cream-gray:   #CECEB6;

$info-light: rgb(233, 233, 206);
$info-dark: rgb(106, 106, 38);

$body-background-main: rgba(174, 170, 162, 0.72);

$gray-dark: #777;
$shadow-gray-dark: rgba(0, 0, 0, .3);
$shadow-gray-light: rgba(0, 0, 0, .2);

$lavender: #995C7F;

$green-light: #198c2a;
$green-dark: #0f5018;
$green-lever-active: rgba(132, 228, 59, 0.93);

$body-font-color: #24303f;

